<div class="book delete">
  <h2>Delete Book</h2>

  <p>Are you sure you want to delete <strong><%= @book.title %></strong>?</p>

  <%= form_with(model: @book, method: :delete) do |f| %>
    <%= f.submit "Delete Book" %>
  <% end %>

  <%= link_to 'Back', books_path %>
</div>

